<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <a href="#" class="navbar-brand"></a>
      </div>

      <ul class="nav navbar-nav" >
        <li> 
          <a [routerLink]="['/inicio']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>

        <li> 
          <a [routerLink]="['/consultar_consultorio']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-th-list"></span>
             Consultorios
          </a>
        </li>

        <li> 
          <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            Doctores
          </a>
        </li>

        <li> 
          <a href="#">
            <span class="glyphicon glyphicon-user"></span>
            Pacientes
          </a>
        </li>
      </ul>

      <ul class="nav navbar navbar-nav navbar-right" >
          <li> 
            <a [routerLink]="['/registrar_consultorio']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-th-list"></span>
              Registrar Consultorios
            </a>
          </li>

          <li> 
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
              Registrar Medicos
            </a>
          </li>

          <li> 
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
              Registrar Pacientes
            </a>
          </li>
      </ul>

      
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
